NEXT_PUBLIC_BASE_URL=http://localhost:3000
NOTION_CLIENT_ID=
NOTION_CLIENT_SECRET=
NOTION_REDIRECT_URI=http://localhost:3000/api/notion/callback
SUPABASE_URL=
SUPABASE_ANON_KEY=
OPENAI_API_KEY=
GOOGLE_API_KEY=